* {
    box-sizing: border-box;
    font-style: normal;
    font: 16px Arial, sans-serif;
    text-align: center;
}
div {
    background: linear-gradient(to right, #533333, #1a4c82, #ffff00, #987b50, #0000ff, #4b0082, #8b00ff);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    background-color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* add style to the form */
form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
}   
/*make a circle using the div class = circle*/
.circle {
    width: 150px;
    height: 150px;
    background-color: #f4f4f4;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 20px;
    border: 2px solid #000;
    background-image: url('https://www.w3schools.com/cssref/paper.gif');
    background-size: cover;
}
h2 {
    text-align: center;
    background-color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Style for buttons */
button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

button:hover {
    background-color: #3e8e41;
}
git config --global credential.helper osxkeychaingit push -u origin main
button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
